@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://unpkg.com/@tailwindcss/typography@0.2.x/dist/typography.min.css');
@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');

body {
  background-color: #dcdcde;
}

.font-italiana {
  font-family: 'Italiana', serif;
}

.react-multiple-carousel__arrow {
  outline: none !important;
}

.rounded-none-important {
  border-radius: 0px !important;
}

.block-content-text-white > * {
  color: #fff !important;
}
